body {
	font-family: sans-serif;
	font-size: 14;
}

.footer {
	text-align: center;
	font-family: sans-serif;
	font-size: 10;
}

.button {
	background-color: black;
	color: white;
	font-size: 14;
	font-family: sans-serif;
	border: none;
}