* {
	box-sizing: border-box;
}

button {
	height: 40px;
}

.col-1 {width: 5%;}
.col-2 {width: 10%;}
.col-3 {width: 15%;}
.col-4 {width: 20%;}
.col-5 {width: 25%;}
.col-6 {width: 30%;}
.col-7 {width: 35%;}
.col-8 {width: 40%;}
.col-9 {width: 45%;}
.col-10 {width: 50%;}
.col-11 {width: 55%;}
.col-12 {width: 60%;}

[class*="col-"] {
	float: left;
	padding: 10px;
	height: 50px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}